<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.red.mapper.MessageMapper">

	<select id="listMessageByUid" resultType="cn.red.model.Message">
        SELECT * FROM message WHERE uid=#{uid}
    </select>
    
    <insert id="insertMessage">
        INSERT INTO message(uid,other_id,other_username,operation,post_id,displayed_content)
        VALUES(#{uid},#{otherId},#{otherUsername},#{operation},#{postId},#{displayedContent})
    </insert>

</mapper>