<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.red.mapper.PostMapper">

	<select id="listPostByUid" resultType="cn.red.model.Post">
    	select uid,pid,title,publish_time from post where uid=#{uid}
	</select>

</mapper>