<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.red.mapper.ReplyMapper">

    <resultMap type="cn.red.model.User" id="userMap">
        <id column="uid" property="uid"/>
        <result column="username" property="username"/>
        <result column="head_url" property="headUrl"/>
    </resultMap>

    <resultMap type="cn.red.model.Reply" id="replyMap">
        <id column="rid" property="rid"/>
        <result column="content" property="content"/>
        <association property="user" javaType="cn.red.model.User" resultMap="userMap" />
    </resultMap>
    
    <resultMap type="cn.red.model.Comment" id="commentMap">
        <id column="cid" property="cid"/>
        <result column="content" property="content"/>
        <association property="user" javaType="cn.red.model.User" resultMap="userMap" />
    </resultMap>

    <select id="getContentByRid" resultType="String">
        SELECT content FROM reply WHERE rid=#{rid}
    </select>
    
    <select id="listReply" resultMap="replyMap">
        SELECT r.rid,r.content,u.uid,u.username,u.head_url FROM reply r JOIN user u ON r.uid=u.uid
        WHERE pid=#{pid}
    </select>
    
    <select id="listComment" resultMap="commentMap">
        SELECT c.cid,c.content,u.uid,u.username,u.head_url FROM comment c JOIN user u ON c.uid=u.uid
        WHERE rid=#{rid}
    </select>
    
    <!-- 插入回复记录 -->
    <insert id="insertReply">
        INSERT INTO reply(content,uid,pid,reply_time) values(#{content},#{user.uid},#{post.pid},date_format(now(),'%Y-%c-%d %H:%i:%s'))
    </insert>
    
    <!-- 插入评论 -->
    <insert id="insertComment">
        INSERT INTO comment(content,uid,rid,comment_time) VALUES(#{content},#{user.uid},#{reply.rid},date_format(now(),'%Y-%c-%d %H:%i:%s'))
    </insert>

</mapper>
