<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.red.mapper.TopicMapper">

	<select id="listTopic" resultType="cn.red.model.Topic">
    	SELECT tid,name,content,image FROM topic
	</select>
	
	<select id="listImage" resultType="String">
		SELECT image_url FROM image
	</select>

</mapper>